
/* ==========================================================================
   Colors
   ========================================================================== */

/*
 * blue = #37acc2
 * yellow = #d8d466
 * green = #86c841
 * pink = #d866d1
 * gray = #777
 */

/* ==========================================================================
   Reset
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Open Sans Regular = 400
 * Open Sans Semibold = ?
 * Open Sans Extrabold = 800
 */

h1 {
  font: 80px 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
}

h2 {
  text-align: center;
}

h4 {
  font: 34px 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  color: #777;
  margin: 5px 0;
}

p {
  font: 14px 'Open Sans', sans-serif;
  color: #777;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.top-bar {
  width: 100%;
  height: 65px;
  background: #f7f7f7;
}

.banner {
  width: 100%;
  height: 330px;
  background: #37acc2;
}

/* Top Nav Bar
   ========================================================================== */

.top-bar div {
  padding: 10px 20px;
}

.top-bar img {
  float: left;
  margin: 7px 0 0 10px;
}

.top-bar p {
  float: left;
  margin: 13px 10px;
}

.top-bar ul {
  float: left;
  margin: 13px 0 0 0;
}

.top-bar li {
  display: inline-block;
}

.top-bar li a {
  font: 16px 'Open Sans', sans-serif;
  color: #2b2b2b;
  margin: 0 5px;
}

.facebook-share-button,
.twitter-share-button {
  float: right;
  margin: 13px 0 0 0;
}

/* Banner
   ========================================================================== */

.banner div {
  padding: 90px 20px 0;
}

.logo {
  margin: 32px 10px 0 10px;
  float: left;
}

.banner p {
  margin: 10px 0;
  text-align: center;
  font: 18px 'Open Sans', sans-serif;
  color: #fff;
}

.banner a {
  color: #fffa76;
}

/* ==========================================================================
   Content
   ========================================================================== */

/* Projects
   ========================================================================== */

.projects li {
  width: 225px;
  display: inline-block;
  margin: 40px 10px;
}

.projects figure {
  width: 135px;
  height: 130px;
  margin: 0 auto;
  display: block;
  position: relative;
  border-radius: 135px;
}

.projects img {
  top: 50%;
  left: 50%;
  position: absolute;
}

.projects p {
  font-size: 12px;
  text-align: center;
}

.projects .arrow {
  width: 53px;
  height: 37px;
  background: url(../img/arrow.png);
  margin: 40px auto;
}

/* Projects - Community
   ========================================================================== */

.project-1 figure {
  background: #37acc2;
}

.project-1 img {
  margin: -20px 0 0 -38px;
}

/* Projects - Conferences
   ========================================================================== */

.project-2 figure {
  background: #d8d466;
}

.project-2 img {
  margin: -41px 0 0 -41px;
}

/* Projects - Cast
   ========================================================================== */

.project-3 figure {
  background: #86c841;
}

.project-3 img {
  margin: -33px 0 0 -20px;
}

/* Projects - Labs
   ========================================================================== */

.project-4 figure {
  background: #d866d1;
}

.project-4 img {
  margin: -30px 0 0 -30px;
}

/* ==========================================================================
   Util
   ========================================================================== */

.center {
  width: 1000px;
  margin: 0 auto;
}